---
const platform_one = "github";
const platform_two = "linkedin";
const username_one = "Di-void";
const username_two = "don-akhirebhulu-675082242";
---

<footer>
    <p>
        Learn more about my projects on <a
            href={`https://www.${platform_one}.com/${username_one}`}
            target="_blank">{platform_one}</a
        >!
    </p>
    <p>
        Let's connect on <a
            href={`https://www.${platform_two}.com/in/${username_two}`}
            target="_blank">{platform_two}</a
        >!
    </p>
</footer>
